.divLoguear {
  margin: 0 40%; }

#modal-registro {
  width: 80% !important;
  border-top: 2px solid black !important; }

#mensajeLogin {
  color: red;
  text-transform: uppercase; }

#logout {
  width: auto !important;
  padding: 10px 5px;
  display: none; }

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }

/* estilos botones */
button {
  background-color: #447fff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%; }

button:hover {
  opacity: 0.8; }

/* estilo botones */
.cbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336; }

/* imagen */
.imgcontainer2 {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative; }
  .imgcontainer2 img {
    width: 200px;
    height: 200px;
    border-radius: 50%; }

.container {
  padding: 16px; }

span.psw {
  float: right;
  padding-top: 16px; }

/* Modal fondo */
.ventanamodal {
  display: none;
  position: fixed;
  z-index: 1040;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4) !important;
  padding-top: 60px; }

/* Modal box */
.ventanamodal-content {
  background-color: #fefefe;
  margin: 0 10% !important;
  border: 1px solid #888;
  width: 80% !important; }

/* cerrar (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: red;
  cursor: pointer; }

/*  Animacion */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* botones responsive */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none; }
  .cancelbtn {
    width: 100%; } }

.tarjetas {
  justify-content: space-between !important; }

#animalListadoAlta {
  border: 2px solid red; }

#animalListadoMedia {
  border: 2px solid orange; }

#animalListadoBaja {
  border: 2px solid yellow; }

footer {
  background-color: #0a4275; }

.form__grupo-input {
  position: relative; }

input:focus {
  border: 3px solid #0075ff !important;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4); }

.form__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none; }

.form__input-error-activo {
  display: block; }

.form__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 24px;
  z-index: 100;
  font-size: 16px;
  opacity: 0; }

.formulario__checkbox {
  margin-right: 10px; }

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  background-color: #f66060;
  border-radius: 3px;
  display: none; }

.formulario__mensaje-activo {
  display: block; }

/* ---- Validacion estilos ---- */
.formulario__grupo-correcto .form__validacion-estado {
  color: #1ed12d;
  opacity: 1; }

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929; }

.formulario__grupo-incorrecto .form__validacion-estado {
  color: #bb2929;
  opacity: 1; }

.formulario__grupo-incorrecto input {
  border: 3px solid #bb2929; }
  .formulario__grupo-incorrecto input:focus {
    border: 3px solid #bb2929 !important; }

#titulo-revisar {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 10px;
  font-size: 3rem; }

#ordenFiltro {
  background-color: #0a4275;
  color: white; }
