.divLoguear {
    margin: 0 40%;
}

#geolocal {
    background-color: black;
    color: white;
    width: 100%;

    .localizador {
        margin-left: 15%;
        font-size: 20px;
    }
}



#modal-registro {
    width: 80% !important;
    border-top: 2px solid black !important;
}

#mensajeLogin {
    color: red;
    text-transform: uppercase;
}

#logout {
    width: auto !important;
    padding: 10px 5px;
    display: none;
}