
#ordenFiltro {
     width: 100%;
     background-color: white !important;
     color: black !important;
     
     label {
         width: 10%;
         height: 30px;
         display: inline;
     }
     select {
         width: 10%;
         
         display: inline;
     }
     display: inline;
}

.tarjetas {
    justify-content: space-between !important;

}

#btn-resuelto, #btn-eliminar {
    display: block !important;
}

.animalListadoAlta {
    border: 2px solid red !important;
}

.animalListadoMedia {
    border: 2px solid orange !important;
}

.animalListadoBaja {
    border: 2px solid yellow !important;
}

.animalListado-Resuelto {
    border: 2px solid rgb(12, 205, 12) !important;
}
