

.tarjetas {
    justify-content: space-between !important;

}

#animalListadoAlta {
    border: 2px solid red;
}

#animalListadoMedia {
    border: 2px solid orange;
}

#animalListadoBaja {
    border: 2px solid yellow;
}
